{% extends template.self %}

{% block page %}
    {{ super() }}
    <footer>
        <div>
            <h5>Have questions?</h5>
            <p>
                Please reach out on the <a href="https://groups.google.com/a/opencord.org/forum/#!forum/cord-dev" target="_blank">mailing list</a>
                or on <a href="https://slackin.opencord.org" target="_blank">slack</a>.
            </p>
        </div>
        <div>
            <h5>Do you think this guide can be improved?</h5>
            <p>Great, <a href="https://guide.opencord.org/developer/contribute_to_the_docs.html">help us do that</a>!</p>
        </div>
    </footer>
{% endblock %}